<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Comments</title>
</head>

<body>
    <h1>Comments: </h1>

    <table class="comments">
        <thead>
        <tr>
            <th>Comment</th>
            <th>Book</th>
            <th>Edit Comment</th>
            <th>Delete Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <form id="delete-form" th:action="@{/commentDelete(id=${comment.id})}" th:method="post" action="commentsPage.html">
                <td th:text="${comment.comment}">none</td>
                <td th:text="${comment.book.title}">none</td>
                <td>
                    <a th:href="@{/comment(id=${comment.id})}" href="comment.html">Edit</a>
                </td>
                <td>
                    <strong>
                        <button type="submit">Delete</button>
                    </strong>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
<h2>
    <a th:href="@{/}">Back</a>
</h2>
</body>
</html>
