<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileworksService" class="ru.otus.spring2020.homework1.service.FileworkService">
    </bean>

    <bean id="studentDao" class="ru.otus.spring2020.homework1.dao.StudentDaoSimple">
        <property name="mark" value="5"/>
    </bean>

    <bean id="studentService" class="ru.otus.spring2020.homework1.service.StudentServiceImpl">
        <constructor-arg name="dao" ref="studentDao"/>
    </bean>

    <bean id="communicationService" class="ru.otus.spring2020.homework1.service.CommunicationServiceImpl">
        <constructor-arg name="fileworkService" ref="fileworksService"/>
        <constructor-arg name="studentService" ref="studentService"/>
    </bean>
</beans>