<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Genres</title>
</head>

<body>
    <h1>Genres: </h1>

    <table class="genres">
        <thead>
        <tr>
            <th>Description</th>
            <th>Edit Genre</th>
            <th>Delete Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <form id="delete-form" th:action="@{/genreDelete(id=${genre.id})}" th:method="post" action="genresPage.html">
                <td th:text="${genre.description}">none</td>
                <td>
                    <a th:href="@{/genre(id=${genre.id})}" href="genre.html">Edit</a>
                </td>
                <td>
                    <strong>
                        <button type="submit">Delete</button>
                    </strong>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
<h2>
    <a th:href="@{/}">Back</a>
</h2>
</body>
</html>
